*
	margin 0
	padding 0
	box-sizing border-box
	outline: none
	text-decoration none

a
	text-decoration none
	color $black

html,
body
	height 100%

ul
	letter-spacing -.36em

ul li
	display inline-block
	letter-spacing normal

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder
	font-family $Regular
	font-weight 100

textarea::-moz-placeholder,
input::-moz-placeholder
	font-family $Regular
	font-weight 100

textarea:-moz-placeholder,
input:-moz-placeholder
	font-family $Regular
	font-weight 100

textarea:-ms-input-placeholder,
input:-ms-input-placeholder
	font-family $Regular
	font-weight 100

.wrapper
	width 100%
	margin 0 auto
.g-wrapper
	width 71.25rem
	margin 0 auto

@media (max-width:71.25rem)
	html
		font-size 14px

@media (max-width:61.9375rem)
	.g-wrapper
		width 100%

@media (max-width:47.9375rem)
	.g-wrapper
		padding 0
