$Regular = Montserrat-Regular
$Light = Montserrat-Light
$SemiBold = Montserrat-Semibold
$LightItalic = Montserrat-LightItalic

$green = #BFDF14
$white = #fff
$black = #000
$gray = #EDEDED
$text = #3C3C3C
$greengradient = linear-gradient(to bottom,#bfdf14 0%,#abc711 100%)
