.footer-bg
	.g-wrapper
		.footer
			.footer__nav
				.footer__nav-logo
					a(href="#")
						img(src="./images/logo-w.png")
				.footer__nav-menu
					a(href="#services").footer__nav-menu-item
						p Наша помощь
					a(href="#canwe").footer__nav-menu-item
						p Почему мы
					a(href="#benefit").footer__nav-menu-item
						p Для чего резиденство
					a(href="#directions").footer__nav-menu-item
						p Направления
					a(href="#contacts").footer__nav-menu-item
						p Контакты
			.footer__desc
				.footer__desc-copy Вся информация, размещенная на веб-сайте www.skolkovo-resident.ru, охраняется в соответствии с законодательством об авторском праве. Запрещается ее использование в любой форме без письменного разрешения ИП Иванов А.И.
				.footer__desc-author Разработка сайта:
					a(href="#").footer__desc-author-link
						p SpaceCode
