.blog
	.blog-bg
	.blog__slider
		.swiper-container
			.slider-mask
			.swiper-wrapper
				.swiper-slide
					.blog__post
						.blog__post-image(style="background: url(/images/blog-img1.png) 50% 50%; background-size: cover; background-repeat: no-repeat;")
						.blog__post-desc
							.blog__post-desc-title Искусство осмысляет закон внешнего мира
							.blog__post-desc-date 12.09.2018
							.blog__post-desc-text Ощущение мира контролирует из ряда вон выходящий позитивизм. Гравитационный парадокс философски транспонирует трансцендентальный дедуктивный метод.
							a(href="#").blog__post-desc-link
								p Читать далее
				.swiper-slide
					.blog__post
						.blog__post-image(style="background: url(/images/blog-img2.png) 50% 50%; background-size: cover; background-repeat: no-repeat;")
						.blog__post-desc
							.blog__post-desc-title Знак дискредитирует язык образов
							.blog__post-desc-date 10.09.2018
							.blog__post-desc-text Исчисление предикатов выводит типичный гравитационный парадокс. Суждение создает знак. Сомнение заполняет интеллект. Освобождение, по определению, творит предмет.
							a(href="#").blog__post-desc-link
								p Читать далее
				.swiper-slide
					.blog__post
						.blog__post-image(style="background: url(/images/blog-img1.png) 50% 50%; background-size: cover; background-repeat: no-repeat;")
						.blog__post-desc
							.blog__post-desc-title Искусство осмысляет закон внешнего мира
							.blog__post-desc-date 12.09.2018
							.blog__post-desc-text Ощущение мира контролирует из ряда вон выходящий позитивизм. Гравитационный парадокс философски транспонирует трансцендентальный дедуктивный метод.
							a(href="#").blog__post-desc-link
								p Читать далее
			.swiper-button-prev
			.swiper-button-next
			.swiper-pagination
	.blog__info
		.blog__info-title Блог
		.blog__info-text Последние записи блога.  Дистинкция методологически выводит язык образов, tertium nоn datur. Исчисление предикатов структурализм.
