.canwe
	.canwe-bg
	.canwe__image
		img(src="./images/skimage2.png", alt="")
	.canwe__info
		.canwe__info-title Может ли моя компания стать
			span резидентом Сколково
			span ?
		.canwe__info-subtitle Бесплатно проанализируем Ваш бизнес/проект на предмет возможности стать резидентом Сколково.
		button.canwe__info-button.callback2(type='button') Узнать
