.g-wrapper
	.contacts
		.contacts__map
			script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2b7f5ad914ab458e9ae77b1ae965c5bdd6fdd2891b76b54341d6d993af77ec55&amp;width=100%25&amp;height=337&amp;lang=ru_RU&amp;scroll=true")
		.contacts__block
			.contacts__block-title Контакты
			.contacts__block-list
				.contacts__block-list-item
					span Адрес:
						p г. Москва, ул. Ленина, 1, ТЦ “Европа”, оф. 320
				.contacts__block-list-item
					span Телефон:
						p
							a(href="#") 8 800 112 33 21
				.contacts__block-list-item
					span Часы работы:
						p 10:00 — 20:00
				.contacts__block-list-item
					span E-mail:
						p
							a(href="#") info@skolkovo-resident.ru
			button.contacts__block-button.callback2 Заказать звонок
