.g-wrapper
	.directions
		.directions__title Основные
			<br/> направления
		.directions__items
			.directions__item
				.directions__item-mask
				.directions__item-desc
					.directions__item-title IT
					.directions__item-text Мы помогли
						span 7
						span компаниям в данном направлении.
			.directions__item
				.directions__item-mask
				.directions__item-desc
					.directions__item-title Промышленность
					.directions__item-text Мы помогли
						span 3
						span компаниям в данном направлении.
			.directions__item
				.directions__item-mask
				.directions__item-desc
					.directions__item-title Примеры резидентов
					.directions__item-text Онкотарис, Генотек ИТ, Phillips Inoovative.
			.directions__item
				.directions__item-mask
				.directions__item-desc
					.directions__item-title Сельское хозяйство
					.directions__item-text Мы помогли
						span 5
						span компаниям в данном направлении.
			.directions__item
				.directions__item-mask
				.directions__item-desc
					.directions__item-title Энергетика
					.directions__item-text Мы помогли
						span 2
						span компаниям в данном направлении.
		.directions__slider
			.swiper-container.swiper-container2
				.swiper-wrapper
					.swiper-slide
						.directions__item
							.directions__item-mask
							.directions__item-desc
								.directions__item-title IT
								.directions__item-text Мы помогли
									span 7
									span компаниям в данном направлении.
					.swiper-slide
						.directions__item
							.directions__item-mask
							.directions__item-desc
								.directions__item-title Промышленность
								.directions__item-text Мы помогли
									span 3
									span компаниям в данном направлении.
					.swiper-slide
						.directions__item
							.directions__item-mask
							.directions__item-desc
								.directions__item-title Примеры резидентов
								.directions__item-text Онкотарис, Генотек ИТ, Phillips Inoovative.
					.swiper-slide
						.directions__item
							.directions__item-mask
							.directions__item-desc
								.directions__item-title Сельское хозяйство
								.directions__item-text Мы помогли
									span 5
									span компаниям в данном направлении.
					.swiper-slide
						.directions__item
							.directions__item-mask
							.directions__item-desc
								.directions__item-title Энергетика
								.directions__item-text Мы помогли
									span 2
									span компаниям в данном направлении.
				.swiper-pagination
