.g-wrapper
	.garant
		.garant__items
			.garant__item
				.garant__item-image
					img(src="./images/bars.png")
				.garant__item-title Повышение качества заявки
				.garant__item-desc При необходимости мы включим собственных экспертов в качестве бизнес-консультантов/ научных сотрудников в Вашу заявку, тем самым заметно усилив ее.
			.garant__item
				.garant__item-image
					img(src="./images/team.png")
				.garant__item-title Команда skolkovo-resident.ru — эксперты Сколково
				.garant__item-desc Мы знаем все процедуры изнутри. Нашими силами была подготовлена 21 успешная заявка (из 21), а через наших экспертов прошло более 500 заявок.
		.garant__info
			.garant__info-title 100% гарантия
			.garant__info-subtitle Даем 100% гарантию получения резиденства Сколково. Созерцание, как следует из вышесказанного, амбивалентно индуцирует гедонизм.

