.g-wrapper
	.info
		.info__users
			.info__users-count
				span 3
				span /5
			.info__users-text членов нашей команды – бывшие или действующие эксперты Сколково
			.info__users-img
				img(src="./images/users.png")
		.info__help
			.info__users-count
				span 21
			.info__users-text компания стала резидентами Сколково с помощью нашей организации
			.info__users-img
				img(src="./images/sk.png")
	.services
		.services__info
			.services__info-title Услуги
			.services__info-subtitle Мы занимаемся упаковкой Вашего бизнеса «под ключ», сопровождая на всех этапах вплоть до получения статуса резидентства.
			button.services__info-button.active#service_button1(type='button') Написание заявки
			button.services__info-button#service_button2(type='button') Помощь в получении гранта
		.services__containter#service1
			.services__content
				.services__content-title Написание заявки
				.services__content-list
					.services__content-list-item Сбор и обработка всех необходимых материалов
					.services__content-list-item Разработка концепции и ее описание
					.services__content-list-item Проведение необходимых исследований и составление аналитических отчетов
					.services__content-list-item Написание БП и ТЭО
					.services__content-list-item Создание сопутствующих презентаций и экспертных оценок проекта
					.services__content-list-item Сопровождение заявки после подачи
			.services__subcontent
				.services__subcontent-title Сроки
				.services__subcontent-items
					.services__subcontent-items-item Составление заявки от 2х до 4х недель
					.services__subcontent-items-item Оценка и одобрение в Сколково от 3х недель
					.services__subcontent-items-item *при непрофессиональном подходе данная процедура занимает от 6 до 12 мес.
		.services__containter#service2
			.services__content
				.services__content-title Помощь в получении гранта
				.services__content-list
					.services__content-list-item Сбор и обработка всех необходимых материалов
					.services__content-list-item Разработка концепции и ее описание
					.services__content-list-item Проведение необходимых исследований и составление аналитических отчетов
					.services__content-list-item Написание БП и ТЭО
					.services__content-list-item Создание сопутствующих презентаций и экспертных оценок проекта
					.services__content-list-item Сопровождение заявки после подачи
			.services__subcontent
				.services__subcontent-title Сроки
				.services__subcontent-items
					.services__subcontent-items-item Составление заявки от 2х до 4х недель
					.services__subcontent-items-item Оценка и одобрение в Сколково от 3х недель
					.services__subcontent-items-item *при непрофессиональном подходе данная процедура занимает от 6 до 12 мес.
