.footer-bg
	background-color #262626
	height 100%
.footer
	&__nav
		display flex
		justify-content space-between
		padding 40px 0
		border-bottom 1px solid #646464
		margin-top 73px
		&-menu
			display flex
			align-items center
			&-item
				color $white
				font-family $Regular
				font-size 0.875rem
				line-height 19px
				margin-left 30px
				position relative
				overflow hidden
				&:after
					content ''
					width 100%
					height 5px
					display inline-block
					position absolute
					z-index -1
					bottom 2px
					left 0
					transform translateX(100%)
					transition .3s
				&:hover&:after
					transform translateX(0)
					background-color $green
					z-index 1
			&-item p
				z-index 3
				position relative
	&__desc
		display flex
		padding 25px 0
		justify-content space-between
		align-items center
		&-copy
			font-family $Light
			line-height 17px
			font-size 0.75rem
			color $white
			flex-basis 66.66667%
		&-author
			color $white
			font-family $Light
			font-size 0.875rem
			line-height 19px
			position relative
			overflow hidden
			margin-left 5px
			display flex
			&-link
				color $white
				font-family $Regular
				font-size 1rem
				line-height 19px
				position relative
				overflow hidden
				margin-left 5px
				display inline-block
				&:after
					content ''
					width 100%
					height 5px
					display inline-block
					position absolute
					z-index -1
					bottom 2px
					left 0
					transform translateX(100%)
					transition .3s
				&:hover&:after
					transform translateX(0)
					background-color $green
					z-index 1
			&-link p
				z-index 3
				position relative
				display inline-block
@media (max-width:61.9375rem)
	.footer__nav
		flex-direction column
		align-items center
		&-menu
			flex-basis 100%
			align-items center
			flex-wrap wrap
	.footer__nav-menu
		flex-direction column
	.footer__nav-menu-item
		line-height 42px
		margin 0
		&:after
			bottom 15px
	.footer__desc
		flex-direction column
		padding 25px 30px
	.footer__desc-author
		margin 15px 0 0 0
		text-align left
		width 100%

