#home
	position relative
.home-bg
	background url(/images/home-bg.jpg) 50% 50%
	background-size cover
	background-repeat no-repeat
	height 100%
	filter blur(20px)
	opacity .25
	position absolute
	top 0
	right 0
	left 0
	bottom 0
	z-index -1
.menu-container
	margin 0 auto
	min-height 120px
	width 100%
	position fixed
	transition .3s
	z-index 999
	top 0
	.menu
		display flex
		align-items center
		min-height 120px
		width 71.25rem
		margin 0 auto
		&__logo
			flex-basis 20%
		&__items
			flex-basis 60%
			display flex
		&__item
			color $black
			font-family $Regular
			font-size 0.875rem
			line-height 19px
			margin-right 30px
			position relative
			overflow hidden
			&:after
				content ''
				width 100%
				height 5px
				display inline-block
				position absolute
				z-index -1
				bottom 2px
				left 0
				transform translateX(100%)
				transition .3s
			&:hover&:after
				transform translateX(0)
				background-color $green
		&__mail
			font-family $SemiBold
			font-size 0.875rem
			line-height 20px
			position relative
			overflow hidden
			&:after
				content ''
				width 100%
				background-color $green
				height 5px
				display inline-block
				position absolute
				z-index -1
				bottom 2px
				left 0
				transition .3s
			&:hover&:after
				transform translateX(100%)
.mob__menu
	min-height 70px
	align-items center
	display none
	background-color $white
.mob__burgermenu
	display flex
	flex-basis 20%
	justify-content center
	cursor pointer
.mob__burgermenu svg
		width 24px
		height 24px
		transition .3s
		&:hover
			fill $green
.mob__logo
	flex-basis 60%
	text-align center
	z-index 30
.mob__logo img
		max-height 50px
.mob__callback
	flex-basis 20%
	display flex
	justify-content center
	cursor pointer
.mob__callback svg
		width 24px
		height 24px
		transition .3s
		z-index 30
		&:hover
			fill $green
.mob__items
	height 100vh
	width 100%
	background-color $white
	transform translateX(-100%)
	transition .3s
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	z-index 20
.mob__close
	width 20%
	display flex
	justify-content center
	align-items center
	height 70px
.mob__close svg
		width 24px
		height 24px
		transition .3s
		cursor pointer
		&:hover
			fill $green
.mob__containter
	height calc(100vh - 70px)
	display flex
	flex-wrap wrap
.mob__item
	font-family $Regular
	font-size 1.25rem
	color $black
	display flex
	flex-basis 100%
	height 20%
	align-items center
	justify-content center
	position relative
	&:after
		content ''
		width 100%
		background-color inherit
		height 5px
		display inline-block
		position absolute
		z-index -1
		bottom 2px
		left 0
		transition .3s
	&:hover&:after
		background-color $green
.home
	display flex
	position relative
	padding-top 120px
	&__content
		flex-basis 45%
		display flex
		flex-direction column
		&-title
			font-size 2.625rem
			color $black
			font-family $Regular
			line-height 50px
			margin-bottom 20px
		&-title span
			font-family $SemiBold
			margin 0 0 0 15px
			color $green
	&__list
		display flex
		flex-direction column
		width 80%
	&__list-item
		position relative
		font-size 1.125rem
		font-family $Regular
		display flex
		align-items center
		padding-left 37px
		line-height 24px
		margin 9px 0
		&:before
			content ''
			position absolute
			left 0
			top 4.5px
			background-color $green
			border-radius 50%
			width 12px
			height 12px
	&__button
		cursor pointer
		border-radius 5px
		min-height 70px
		display flex
		justify-content center
		color $white
		font-family $SemiBold
		font-size 1.25rem
		line-height 28px
		align-items center
		border none
		padding 20px 38px
		background $greengradient
		width 80%
		margin-top 30px
		transition .3s
		&:hover
			opacity .8
	&__image
		flex-basis 55%
	&__image img
		width 100%
@media (max-width:71.25rem)
	.menu__items
		justify-content space-around
	.menu__item
		margin 0
	.menu-container .menu__item
		margin-right 15px
	.home
		padding 120px 30px 0 30px
		flex-wrap wrap
	.home__image
		display none
	.home__content
		flex-basis 100%
	.home__button
		width auto
	.mob__item
		font-size 2rem
	.home__button
		height 50px
	.home__list
		width 100%
	.home__content-title
		font-size 2.525rem
		line-height 39px
		margin-top 40px
@media (max-width:61.9375rem)
	.menu-container .menu
		display none
	.menu-container
		background-color inherit !important
	.home
		padding-top 60px
	.mob__menu
		position fixed
		width 100%
		display flex
