.info
	display flex
	align-items center
	justify-content center
	margin-top 50px
	box-shadow 0px 4px 30px rgba(0, 0, 0, 0.07)
	border-radius 15px
	&__users
		flex-basis 50%
		display flex
		align-items center
		justify-content space-around
		border-radius 15px
		background-color $white
		border-radius 15px 0 0 15px
		padding 30px 50px
		position relative
	&__users-text
		margin-left 27px
		z-index 2
		font-family $Light
		font-size 16px
		line-height 21px
	&__users-count
		font-size 3.25rem
		line-height 73px
		font-family $Light
		color $gray
	&__users-img
		z-index 1
		position absolute
		right 0
	&__users-count span:first-child
		color $green
		font-family $SemiBold
	&__help
		flex-basis 50%
		display flex
		align-items center
		justify-content space-between
		border-radius 15px
		background-color $white
		border-radius 0 15px 15px 0
		padding 30px 50px
		position relative
.services
	padding 40px 0 80px 0
	margin-top 40px
	display flex
	position relative
	justify-content space-between
	&__info
		display flex
		flex-direction column
		flex-basis 30%
		&-title
			font-size 2.625rem
			font-family $SemiBold
			color $text
			position relative
			&:after
				content ''
				width 25%
				background-color $green
				height 1px
				display inline-block
				position absolute
				z-index -1
				bottom -20.5px
				left 0
		&-subtitle
			font-size 1.125rem
			line-height 24px
			color $text
			margin 41px 0 25px
			font-family $Light
			line-height 24px
			width 80%
		&-button
			background-color $white
			padding 15px 30px
			border 1px solid $green
			margin 2.5px
			border-radius 5px
			font-family $SemiBold
			font-size 1rem
			line-height 22px
			color $green
			transition: .3s
			cursor pointer
			position relative
			&:hover:after
				content ''
				position absolute
				left 15px
				top calc(50% - 6px)
				background-color $green
				border-radius 50%
				width 12px
				height 12px
	&__containter
			background-color $white
			border-radius 15px 15px 0 0
			width 66.66667%
			box-shadow 0px 4px 30px rgba(0, 0, 0, 0.05);
			overflow hidden
		&__content
			box-shadow 0px 4px 30px rgba(0, 0, 0, 0.05);
			padding 35px 64px 47px 49px
			&-title
				font-family $SemiBold
				color $text
				font-size 2rem
				line-height 45px
				margin-bottom 20px
			&-list-item
				font-family $Regular
				font-size 1.125rem
				color $black
				line-height 24px
				position relative
				padding-left 25px
				margin 15px 0
				&:before
					content ''
					position absolute
					left 0
					top 4.5px
					background-color $green
					border-radius 50%
					width 12px
					height 12px
	&__subcontent
		display flex
		padding 35px 64px 47px 49px
		&-title
			font-size 2rem
			font-family $Regular
			line-height 44px
			color $text
		&-items
			margin-left 80px
		&-items-item
			font-family $Regular
			font-size 1.125rem
			line-height 24px
			position relative
		&-items-item:nth-child(2)
			margin-bottom 30px
		&-items-item:nth-child(2):after
			content ''
			width 100%
			background-color $green
			height 1px
			display inline-block
			position absolute
			left 0
			bottom -15px
		&-items-item:last-child
			font-family $LightItalic
			font-size 0.875rem
			line-height 17px
.active
	background-color $green
	border 1px solid $green
	color $white
	transition: .3s
#service1
	transition .3s
#service2
	transition .3s
	display none
@media (max-width:71.25rem)
	.info
		box-shadow none
	.services
		flex-wrap wrap
		padding 0 30px
	.services__info
		flex-basis 100%
	.services__containter
		position relative
		width 100%
		margin-top 30px
@media (max-width:47.9375rem)
	.info
		flex-wrap wrap
	.info__users
		margin 5px 30px
		border-radius 15px
		flex-basis 100%
		box-shadow 0px 4px 30px rgba(0, 0, 0, 0.05)
		flex-wrap wrap
	.info__help
		border-radius 15px
		margin 5px 30px
		flex-basis 100%
		box-shadow 0px 4px 30px rgba(0, 0, 0, 0.05)
		flex-wrap wrap
	.info__users-text
		margin 0
	.info__users-count
		width 100%
	.services__subcontent
		flex-wrap wrap
	.services__subcontent-items
		margin 0
	.services__subcontent-title
		flex-basis 100%
